
.preloader.ui.segment{
    border: none;
    box-shadow: none;
    padding-top: 130px;
}
.shoplist {
    justify-content: space-between;
}
@media screen and (max-width:585px){
    .shoplist {
    justify-content: center;
    }
}
