.cart-item{
    list-style-type: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    border-bottom: 1px solid  rgba(34,36,38,.15);
}
.cart-item:last-child{
    border-bottom: none;
}
.ui.popup.cart_popup{
    max-width: none;
}
.right.menu .item.authorization *{
    margin-right: 10px !important;
}
.header, .right, .cart, .logo {
    display: flex;
    justify-content: space-between;
}
header  * {
    margin-right: 20px;
}
button.active {
    text-decoration: underline;
}